<h1>Hello World from hello</h1>

<% target = "world" %>
<%= "Hello #{target}"%>

<%= @array.each do |n| %>
    <%= n %><br />
  <% end %>

  <br />

<%= link_to('Index page 2', { :action => 'index' } ) %> <br />
