<% @page_title = "All Pages" %>
<%= link_to("<< Back to Link", pages_path, :class => 'back-link') %>

<div class="pages new">
  <h2>Create page</h2>
  <%= form_for(@page) do
    |f| %>

  <%= render(:partial =>'form', :locals => {:f => f} )%>
  
  <div class='form-buttons'>
    <%= f.submit("Create Page") %>
</div>
<% end %>
