<% @page_title = "All Subjects" %>
<%= link_to("<< Back to Link", subjects_path, :class => 'back-link') %>

<div class="subjects edit">
  <h2>Udate subject</h2>
  <%= form_for(@subject) do
    |f| %>

  <%= render(:partial =>'form', :locals => {:f => f} )%>
  <div class='form-buttons'>
    <%= f.submit("Update Subject") %>
</div>
<% end %>
